.ml-auto{margin-left:auto}
#editor .wp-block{line-height:inherit}
.wp-block{font-size:1rem;color:#888;line-height:1.5;line-height:inherit}
@media{}
@media{}
.wp-block a{color:#1bbc9b;text-decoration:none}
.wp-block a:hover{color:#00bc96;text-decoration:underline}
.wp-block h1,.wp-block .h1{font-size:2.5rem;font-weight:500;line-height:1.2}
@media{}
@media{}
.wp-block h2,.wp-block .h2{font-size:2rem;font-weight:500;line-height:1.2}
@media{}
@media{}
.wp-block h3,.wp-block .h3{font-size:1.75rem;font-weight:500;line-height:1.2}
@media{}
@media{}
.wp-block h4,.wp-block .h4{font-size:1.5rem;font-weight:500;line-height:1.2}
@media{}
@media{}
.wp-block h5,.wp-block .h5{font-size:1.25rem;font-weight:500;line-height:1.2}
@media{}
@media{}
.wp-block h6,.wp-block .h6{font-size:1rem;font-weight:500;line-height:1.2}
@media{}
@media{}
.wp-block .btn-link{color:#1bbc9b;background-color:transparent}
.wp-block .btn-link:hover{color:#00bc96;text-decoration:underline;background-color:transparent;border-color:transparent}
.wp-block .btn-link:focus,.wp-block .btn-link.focus{text-decoration:underline;border-color:transparent;-webkit-box-shadow:none;box-shadow:none}
.wp-block .btn-link:disabled,.wp-block .btn-link.disabled{pointer-events:none}
.wp-block.editor-post-title__block .editor-post-title__input{font-family:Chivo;font-size:30px;color:#333;font-weight:600;line-height:39px;text-align:left}
@media{}
@media{}
@media{}
@media{}
@media{}
@media{}
.wp-block table th,.wp-block table td{padding:.75rem;vertical-align:top;border:none;border-top:1px solid #dee2e6}